/** CUSTOM COMMON CSS **/
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

body{
	color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
}

.toppage_border {
    background-color: #00abc5;
    height: 20px;
}

.hl_disclaimer + label{
	height: 50px !important;
}

.droid-arabic-kufi, .ar{
	font-family: 'Droid Arabic Kufi', serif;
}

.head-section{
	color: #00abc5;
}

.bold{
	font-weight: bold;
}

.white{
	background: #fff;
}

.color-dark{
	color: #222;
}

.tile-icon{
	font-size: 70px;
}

.data{
	font-size: 14px;
}

.finish, .next, .previous{
	font-size: 20px;
}

.bar-title{
	-moz-box-flex: 1;
    font-family: "Source Sans Pro",sans-serif;
    flex: 1 1 0;
    font-size: 26px;
    font-weight: 300;
    margin: 0 0 30px;
    padding-top: 10px;
}

.border-double-2{
	border: 2px solid #e5e5e5;
    border-radius: 2px;
    padding: 15px 30px 20px;


    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}

.border-double{
	background: #fff;
	border: 2px solid #e5e5e5;
    border-radius: 2px;
    padding: 15px 30px 20px;


    -webkit-transition: all 0.2s ease 0s;
    -moz-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
	.border-double:hover{
		border: 2px solid tranparent;
		box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);

    	-webkit-transition: all 0.2s ease 0s;
   	    -moz-transition: all 0.2s ease 0s;
   	 	transition: all 0.2s ease 0s;
	}

a.hideme{
  display: none;
}

.footer-complete{
	background-color: #f5f5f5;
    bottom: 0;
    left: 0;
    clear: both;
    position: absolute;
    height: 80px;
    width: 100%;
}

.footer-sep{
    bottom: 0;
    left: 0;
    clear: both;
    height: 80px;
    min-width: 100%;
}

/*--------------------
4. Sections
--------------------*/

.section-title h2 {
	font-size: 34px;
	text-transform: uppercase;
	color: #0eaac4;
	font-weight: 800;
	letter-spacing: -0.6px;
	position: relative;
	margin-bottom: 20px;
	padding-bottom: 15px;
}

.section-title h2:after {
	left: 50%;
	z-index: 1;
	width: 40px;
	height: 2px;
	content: " ";
	bottom: -5px;
	margin-left: -20px;
	text-align: center;
	position: absolute;
	background: #0eaac4;
}

.dark-bg .section-title h2 {
	color: #0eaac4;
}

.section-title p {
	font-size: 15px;
	font-weight: 300;
	line-height: 25px;
	margin: 20px 100px 60px 100px;
}

/*--------------------
4.1. About
--------------------*/

.mz-module-about h3 {
	font-weight: 500;
	font-size: 19px;
	text-transform: uppercase;
	color: #000000;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.dark-bg .mz-module-about h3 {
	color: #0eaac4;
}

.mz-module-about p {
	font-size: 14px;
	font-weight: 300;
	line-height: 22px;
	color: #0eaac4;
}

.ot-circle {
	height: 100px;
	width: 100px;
	text-align: center;
	line-height: 98px;
	color: #FFFFFF;
	/* border: 3px solid #000; */
	border-radius: 100px;
	background-color: #0eaac4;
	margin: 0 2px 4px;
	font-size: 40px;
}
	.ot-circle:hover{
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);

    	-webkit-transition: all 0.2s ease 0s;
   	    -moz-transition: all 0.2s ease 0s;
   	 	transition: all 0.2s ease 0s;
	}

.round-border{
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;	
}

.border{
	border: 1px solid #eee;
}

.border-right{
	border-right: 1px solid #eee;
}

.border-left{
	border-left: 1px solid #eee;
}

.border-top{
	border-top: 1px solid #eee;
}
.border-bottom{
	border-bottom: 1px solid #eee;
}

.font-large{
	font-size: 100px;
}

.padding-5{
	padding: 5px;
}

.padding-10{
	padding: 10px;
}

.padding-20{
	padding: 20px;
}

.padding-50{
	padding: 50px;
}

.padding-top-20{
	padding-top: 20px;
}
.padding-bottom-20{
	padding-bottom: 20px;
}

.margin-bottom-20{
	margin-bottom: 20px;
}

.h-question
{
    background: #34495E !important;
    color: white !important;
}