

body {
    line-height: 1.5;
    font-size: 12px;
    font-weight: normal;

}
.form__btn.form-control{
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
}
.forms__btn.form-control{
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    background-color: #fff;
}
.critical-txt{
    font-size: 13px;
}
.buycredits-btn{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.complaint-txt, .scored-txt, .achievable-txt, .comments-txt{
    text-align: center;
}
.surveycontent{
 
    margin-top: 100px;
}
.surveycontent .quality-evaluation{
    text-align: center;
    color: #79CDCD;
}
.evaluation-tble.table{
    width: 87%;
    margin-left: 5%;
}
.evaluation-tble.table>tbody>tr>td, .evaluation-tble.table>tbody>tr>th, .evaluation-tble.table>tfoot>tr>td, 
.evaluation-tble.table>tfoot>tr>th, .evaluation-tble.table>thead>tr>td, .evaluation-tble.table>thead>tr>th{
    vertical-align: middle;
    border-top: none;
    width: 40%;
    padding: 15px 30px;
    font-weight: normal;
}
.evaluation-tble.table>thead>tr>th{
    border-bottom: none;
}
.evaluation-tble .th-content{
    padding: 30px 30px 30px 40px;
    width: 40%;
}
.evaluation-tble .blue-bg{
    background: #00abc5;
    color: #fff;
    font-size: 15px;
}
.evaluation-tble.table-striped>tbody>.darkblue-bg{
    background: #7fd5e2;
    color: #fff;
    text-align: center;
}
.evaluation-tble.table-striped>tbody>.darkblue-bg>td{
    font-size: 15px;
    font-weight: 600;
}
/*.evaluation-tble.table-striped>tbody>.lightblue-bg{
    background: #bfeaf0;
}
.evaluation-tble.table-striped>tbody>.grey-bg{
    background: #f6f6f6;
}*/
.evaluation-tble.table{
    margin-top: 50px;
}
.submit-btn.btn{
    padding: 12px 75px;
    background: #00abc5;
    border-color: #00abc5;
    font-size: 14px;
    font-weight: 600;
}
.evaluation-tble select{
    padding: 10px;
}
.content_name label {
  display: inline-block;
  width: auto;
  text-align: center;
}​
.evaluation-tble input {
    background-color: red !important;
}
.table-striped td input {
    padding: 10px;
    border: none;
    text-align: center;
    background: transparent;
    font-size: 15px;
}
.table-striped .input-intro input {
    border: none;
    text-align: center;
    background: transparent;
    font-size: 15px;
    padding: 0;
}
.table-responsive{
    overflow-x: auto;
}
.content-div {
    margin: 20px auto;
    min-height: 420px;
}
.login-wrapper {
    width: 100%;
    position: relative;
    text-align: center;
}
.report-wrapper{
    background: #fff;
    padding: 20px;
    width: 90%;
    margin-left: 16px;
    text-align: left;
}
.surverytable-wrapper{
    margin-top: 50px;
}
.survey-tble.table-bordered>thead>tr>td, .survey-tble.table-bordered>thead>tr>th{
    border: none;
    padding: 15px;
    background: #7fd5e2;
    color: #fff;
    text-align: center;
}
.report-survery h2, .surverytable-wrapper h2{
    color: #00abc5;
}
.surverytable-wrapper .line-txt {
    border-bottom: 1px solid #7fd5e2;
    width: 35%;
    margin-left: 30%;
    margin-bottom: 20px;
}
.survey-tble{
    width: 100%;
    margin-left: 0;
}
.survey-tble tbody{
    background: #fff;
}
.form-date{
    text-align: left;
    margin-bottom: 6px;
}
.client-txt{
    margin-left: 0;
}
.survey-btn{
    margin-top: 15px;
}
.red-notif.form-control{
    background-color: #fc4655;
}
.content-red{
    color: red;
}
.form-date label{
    margin-left: 0;
}
.form-date .input-group{
    width: 100%;
    margin-left: 0;
    margin-top: 0;
}
#final_score{
    font-weight: 600;
    font-size: 20px;
}
.Error-page h2{
    text-align: center;
    padding-top: 90px;
    color: red;
    font-size: 30px;
}
/*Media Queries*/
@media (min-width: 768px){
    .forms__btn.form-control{
        width: 35%;
    }
    .form__btn.form-control{
        width: 70%;
    }
    .content_name label{
        text-align: left;
        width: auto;
    }
    .report-wrapper{
        width: 480px;
        margin-left: 6%;
        text-align: center;
    }
    .surverytable-wrapper .line-txt {
        border-bottom: 1px solid #7fd5e2;
        width: 16%;
        margin-left: 40%;
        margin-bottom: 20px;
    }
    .survey-tble{
        width: 70%;
        margin-left: 5px;
    }
    .client-txt{
        margin-left: 20px;
    }
    .table-responsive{
        overflow-x: auto;
    }
    .form-date label{
        margin-left: 4px;
    }
    .form-date .input-group{
        width: 70%;
        margin-left: 95px;
        margin-top: -23px;
    }
}
@media (min-width: 992px){
     .forms__btn.form-control{
        width: 35%;
    }
    .form__btn.form-control{
        width: 70%;
    }
    .content_name label{
        text-align: right;
        width: 140px;
    }
    .report-wrapper{
        width: 600px;
        margin-left: 22%;
        text-align: center;
    }
    .surverytable-wrapper .line-txt {
        border-bottom: 1px solid #7fd5e2;
        width: 16%;
        margin-left: 40%;
        margin-bottom: 20px;
    }
    .survey-tble{
        width: 90%;
        margin-left: 40px
    }
    .client-txt{
        margin-left: 20px;
    }
    .table-responsive{
        overflow-x: hidden;
    }
    .form-date label{
        margin-left: 50px;
    }
    .form-date .input-group{
        width: 70%;
        margin-left: 114px;
        margin-top: -23px;
    }
}