/*
 * LABELAUTY jQuery Plugin
 * Styles of LABELAUTY website
 *
 * @author: Francisco Neves (@fntneves)
 * @website: www.francisconeves.com
 */

/* Custom Fonts */
@font-face{
    font-family: 'open_sans_lightregular';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype'),
         url('../fonts/opensans-light-webfont.svg#open_sans_lightregular') format('svg');
    font-weight: 800;
    font-style: normal;
}

/* Reset Styles */
* { outline: none !important; }
a, a:visited, a:hover, a:active { text-decoration: none; color: inherit; }
body, img, span, ul, li, div, header, footer, article, section { padding: 0; margin: 0; border: 0; }

/* Main Styles */
html { height: 100%; background-color: #f8f8f8; }
body { display: table; height: 100%; margin: 0 auto; width: 800px; background-color: #fdfdfd; font-size: 14px; font-family: "Tahoma"; color: #626262; }
header { text-align: center; padding-top: 40px; }
header h1 { margin-bottom: 15px; font-family: "open_sans_lightregular"; }
header h4 { margin-top: 0; line-height: 25px; font-family: "open_sans_lightregular"; font-weight: normal; font-size: 14px; }

div.separator { margin: 20px auto !important; width: 150px; border-bottom: 1px solid #DDD; }

section#lby-content { text-align: center; }
section#lby-content > #lby-demo { padding: 30px; margin: 0 auto; display: table; background-color: #f8f8f8; text-align: center; width: 400px; }
section#lby-content > #lby-demo ul { list-style: none !important; float: left; }
section#lby-content > #lby-demo ul#lby-radio-demo { float: right; }
section#lby-content > #lby-demo ul li { list-style: none !important; margin: 2px 0 2px 0; text-align: left; }
section#lby-content > #lby-demo ul li:last-child { margin-top: 0; }
section#lby-content > #lby-demo ul li.header { text-align: left; opacity: 0.5; margin-bottom: 10px; }
section#lby-content > #lby-demo ul li.header:not(:first-child) { margin-top: 15px; }

footer { text-align: center; padding-bottom: 25px; }
footer h4 { margin-bottom: 0; margin-top: 0; line-height: 25px; font-family: "open_sans_lightregular"; font-weight: normal; font-size: 14px; }


input.to-labelauty-icon + label { display: inline-block; margin-right: 6px; }
input.to-labelauty-icon + label:last-child { margin-right: 0; }

input.labelauty + label { font-size: 11px; }

input.labelauty + label > span.labelauty-unchecked-image
{
    background-image: url( ../images/input-unchecked.png );
}
input.labelauty + label > span.labelauty-checked-image
{
    background-image: url( ../images/input-checked.png );
}

input.labelauty.synch-icon + label > span.labelauty-unchecked-image
{
    background-image: url( ../images/synch-unchecked.png );
}
input.labelauty.synch-icon + label > span.labelauty-checked-image
{
    background-image: url( ../images/synch-checked.png );
}

input.labelauty.terms-icon + label > span.labelauty-unchecked-image
{
    background-image: url( ../images/terms-unchecked.png );
}
input.labelauty.terms-icon + label > span.labelauty-checked-image
{
    background-image: url( ../images/terms-checked.png );
}

input.labelauty.disabled-icon + label > span.labelauty-unchecked-image
{
    background-image: url( ../images/input-disabled.png );
}
input.labelauty.disabled-icon + label > span.labelauty-checked-image
{
    background-image: url( ../images/input-disabled.png );
}

a.button
{
    display: table;
    font-size: 12px;
    background-color: #3498db;
    text-align: center;
    font-weight: bold;
    margin: 0 auto;
    padding: 15px 25px;
    color: #FFF;

    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;

    transition: background-color 0.25s;
    -moz-transition: background-color 0.25s;
    -webkit-transition: background-color 0.25s;
    -o-transition: background-color 0.25s;
}

a.button:hover
{
    background-color: #72c5fd;
}

a.button:active
{
    background-color: #2a89c9;
}
