.b {
    border: 1px solid!important;
}
.b-n {
    border: none!important;
}
.b-t {
    border-top: 1px solid!important;
}
.b-t-n {
    border-top: none!important;
}
.b-r {
    border-right: 1px solid!important;
}
.b-r-n {
    border-right: none!important;
}
.b-b {
    border-bottom: 1px solid!important;
}
.b-b-n {
    border-bottom: none!important;
}
.b-l {
    border-left: 1px solid!important;
}
.b-l-n {
    border-left: none!important;
}
.b-dashed {
    border-style: dashed!important;
}
.b-light-gray {
    border-color: #e0e0e0!important;
}
.b-radius-1 {
    border-radius: 1px;
}
.b-radius-2 {
    border-radius: 2px;
}
.b-radius-3 {
    border-radius: 3px;
}
.b-radius-4 {
    border-radius: 4px;
}
.b-radius-5 {
    border-radius: 5px;
}
.b-radius-6 {
    border-radius: 6px;
}
.b-radius-7 {
    border-radius: 7px;
}
.b-radius-8 {
    border-radius: 8px;
}
.b-radius-9 {
    border-radius: 9px;
}
.b-radius-10 {
    border-radius: 10px;
}
.b-radius-15 {
    border-radius: 15px;
}
.font-xs {
    font-size: 12px!important;
}
.font-sm {
    font-size: 13px!important;
}
.font-md {
    font-size: 14px!important;
}
.font-lg {
    font-size: 18px!important;
}
.font-xl {
    font-size: 22px!important;
}
.font-superthin {
    font-weight: 200!important;
}
.font-thin {
    font-weight: 300!important;
}
.font-normal {
    font-weight: 400!important;
}
.font-semibold {
    font-weight: 500!important;
}
.font-bold {
    font-weight: 600!important;
}
.font-spacing-01 {
    letter-spacing: .1px;
}
.font-spacing-02 {
    letter-spacing: .2px;
}
.font-spacing-03 {
    letter-spacing: .3px;
}
.font-spacing-04 {
    letter-spacing: .4px;
}
.font-spacing-05 {
    letter-spacing: .5px;
}
.font-spacing-06 {
    letter-spacing: .6px;
}
.font-spacing-07 {
    letter-spacing: .7px;
}
.font-spacing-08 {
    letter-spacing: .8px;
}
.font-spacing-09 {
    letter-spacing: .9px;
}
.font-spacing-1 {
    letter-spacing: 1px;
}
.font-spacing-15 {
    letter-spacing: 1.5px;
}
.font-spacing-2 {
    letter-spacing: 2px;
}
.text-transform-none {
    text-transform: none!important;
}
.text-uppercase {
    text-transform: uppercase;
}
.text-lowercase {
    text-transform: lowercase;
}
.text-decoration-none {
    text-decoration: none!important;
}
.text-line-through {
    text-decoration: line-through!important;
}
.text-underline {
    text-decoration: underline!important;
}
.p-n {
    padding: 0!important;
}
.p-xxxs {
    padding: 1px!important;
}
.p-xxs {
    padding: 2.5px!important;
}
.p-xs {
    padding: 5px!important;
}
.p-sm {
    padding: 10px!important;
}
.p-md {
    padding: 15px!important;
}
.p-lg {
    padding: 30px!important;
}
.p-xl {
    padding: 50px!important;
}
.p-xxl {
    padding: 60px!important;
}
.p-t-xxxs {
    padding-top: 1px!important;
}
.p-t-xxs {
    padding-top: 2.5px!important;
}
.p-t-xs {
    padding-top: 5px!important;
}
.p-t-sm {
    padding-top: 10px!important;
}
.p-t-md {
    padding-top: 15px!important;
}
.p-t-lg {
    padding-top: 30px!important;
}
.p-t-xl {
    padding-top: 50px!important;
}
.p-t-xxl {
    padding-top: 60px!important;
}
.p-t-n {
    padding-top: 0!important;
}
.p-t-n-xs {
    padding-top: -5px!important;
}
.p-t-n-sm {
    padding-top: -10px!important;
}
.p-t-n-md {
    padding-top: -15px!important;
}
.p-t-n-lg {
    padding-top: -30px!important;
}
.p-t-n-xl {
    padding-top: -50px!important;
}
.p-t-n-xxl {
    padding-top: -60px!important;
}
.p-r-xxxs {
    padding-right: 1px!important;
}
.p-r-xxs {
    padding-right: 2.5px!important;
}
.p-r-xs {
    padding-right: 5px!important;
}
.p-r-sm {
    padding-right: 10px!important;
}
.p-r-md {
    padding-right: 15px!important;
}
.p-r-lg {
    padding-right: 30px!important;
}
.p-r-xl {
    padding-right: 50px!important;
}
.p-r-xxl {
    padding-right: 60px!important;
}
.p-r-n {
    padding-right: 0!important;
}
.p-r-n-xs {
    padding-right: -5px!important;
}
.p-r-n-sm {
    padding-right: -10px!important;
}
.p-r-n-md {
    padding-right: -15px!important;
}
.p-r-n-lg {
    padding-right: -30px!important;
}
.p-r-n-xl {
    padding-right: -50px!important;
}
.p-r-n-xxl {
    padding-right: -60px!important;
}
.p-b-xxxs {
    padding-bottom: 1px!important;
}
.p-b-xxs {
    padding-bottom: 2.5px!important;
}
.p-b-xs {
    padding-bottom: 5px!important;
}
.p-b-sm {
    padding-bottom: 10px!important;
}
.p-b-md {
    padding-bottom: 15px!important;
}
.p-b-lg {
    padding-bottom: 30px!important;
}
.p-b-xl {
    padding-bottom: 50px!important;
}
.p-b-xxl {
    padding-bottom: 60px!important;
}
.p-b-n {
    padding-bottom: 0!important;
}
.p-b-n-xs {
    padding-bottom: -5px!important;
}
.p-b-n-sm {
    padding-bottom: -10px!important;
}
.p-b-n-md {
    padding-bottom: -15px!important;
}
.p-b-n-lg {
    padding-bottom: -30px!important;
}
.p-b-n-xl {
    padding-bottom: -50px!important;
}
.p-b-n-xxl {
    padding-bottom: -60px!important;
}
.p-l-xxxs {
    padding-left: 1px!important;
}
.p-l-xxs {
    padding-left: 2.5px!important;
}
.p-l-xs {
    padding-left: 5px!important;
}
.p-l-sm {
    padding-left: 10px!important;
}
.p-l-md {
    padding-left: 15px!important;
}
.p-l-lg {
    padding-left: 30px!important;
}
.p-l-xl {
    padding-left: 50px!important;
}
.p-l-xxl {
    padding-left: 60px!important;
}
.p-l-n {
    padding-left: 0!important;
}
.p-l-n-xs {
    padding-left: -5px!important;
}
.p-l-n-sm {
    padding-left: -10px!important;
}
.p-l-n-md {
    padding-left: -15px!important;
}
.p-l-n-lg {
    padding-left: -30px!important;
}
.p-l-n-xl {
    padding-left: -50px!important;
}
.p-l-n-xxl {
    padding-left: -60px!important;
}
.m-n {
    margin: 0!important;
}
.m-xxxs {
    margin: 1px!important;
}
.m-xxs {
    margin: 2.5px!important;
}
.m-xs {
    margin: 5px!important;
}
.m-sm {
    margin: 10px!important;
}
.m-md {
    margin: 15px!important;
}
.m-lg {
    margin: 30px!important;
}
.m-xl {
    margin: 50px!important;
}
.m-t-xxxs {
    margin-top: 1px!important;
}
.m-t-xxs {
    margin-top: 2.5px!important;
}
.m-t-xs {
    margin-top: 5px!important;
}
.m-t-sm {
    margin-top: 10px!important;
}
.m-t-md {
    margin-top: 15px!important;
}
.m-t-lg {
    margin-top: 30px!important;
}
.m-t-xl {
    margin-top: 50px!important;
}
.m-t-xxl {
    margin-top: 80px!important;
}
.m-t-n {
    margin-top: 0!important;
}
.m-t-n-xs {
    margin-top: -5px!important;
}
.m-t-n-sm {
    margin-top: -10px!important;
}
.m-t-n-md {
    margin-top: -15px!important;
}
.m-t-n-lg {
    margin-top: -30px!important;
}
.m-t-n-xl {
    margin-top: -50px!important;
}
.m-t-n-xxl {
    margin-top: -80px!important;
}
.m-r-xxxs {
    margin-right: 1px!important;
}
.m-r-xxs {
    margin-right: 2.5px!important;
}
.m-r-xs {
    margin-right: 5px!important;
}
.m-r-sm {
    margin-right: 10px!important;
}
.m-r-md {
    margin-right: 15px!important;
}
.m-r-lg {
    margin-right: 30px!important;
}
.m-r-xl {
    margin-right: 50px!important;
}
.m-r-n {
    margin-right: 0!important;
}
.m-r-n-xs {
    margin-right: -5px!important;
}
.m-r-n-sm {
    margin-right: -10px!important;
}
.m-r-n-md {
    margin-right: -15px!important;
}
.m-r-n-lg {
    margin-right: -30px!important;
}
.m-r-n-xl {
    margin-right: -50px!important;
}
.m-b-xxxs {
    margin-bottom: 1px!important;
}
.m-b-xxs {
    margin-bottom: 2.5px!important;
}
.m-b-xs {
    margin-bottom: 5px!important;
}
.m-b-sm {
    margin-bottom: 10px!important;
}
.m-b-md {
    margin-bottom: 15px!important;
}
.m-b-lg {
    margin-bottom: 30px!important;
}
.m-b-xl {
    margin-bottom: 50px!important;
}
.m-b-n {
    margin-bottom: 0!important;
}
.m-b-n-xs {
    margin-bottom: -5px!important;
}
.m-b-n-sm {
    margin-bottom: -10px!important;
}
.m-b-n-md {
    margin-bottom: -15px!important;
}
.m-b-n-lg {
    margin-bottom: -30px!important;
}
.m-b-n-xl {
    margin-bottom: -50px!important;
}
.m-l-xxxs {
    margin-left: 1px!important;
}
.m-l-xxs {
    margin-left: 2.5px!important;
}
.m-l-xs {
    margin-left: 5px!important;
}
.m-l-sm {
    margin-left: 10px!important;
}
.m-l-md {
    margin-left: 15px!important;
}
.m-l-lg {
    margin-left: 30px!important;
}
.m-l-xl {
    margin-left: 50px!important;
}
.m-l-n {
    margin-left: 0!important;
}
.m-l-n-xs {
    margin-left: -5px!important;
}
.m-l-n-sm {
    margin-left: -10px!important;
}
.m-l-n-md {
    margin-left: -15px!important;
}
.m-l-n-lg {
    margin-left: -30px!important;
}
.m-l-n-xl {
    margin-left: -50px!important;
}
.m-auto-h {
    margin-left: auto!important;
    margin-right: auto!important;
}
.m-auto-v {
    margin-top: auto!important;
    margin-bottom: auto!important;
}
.block {
    display: block!important;
}
.inline {
    display: inline-block!important;
}

