.btn-group {
  white-space: nowrap; 
  font-size: 0; // inline-block will show ALL whitespace between elements, so shrink it!
  .btn {
    display: inline-block;
    font-size: 14px; // restore font-size to whatever you are using for button text.
    float: none;
    clear: none;
  }
}